html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  background-color: #F8FEFE;
}
.banner_cover {
  background-image: url('/images/banner_cover.jpg');
  background-size: cover;
  height: 50vh;
}
.logo{
  width: 96px;
  height: 55px;
  margin-bottom: 0;
}
.case-study-thumb {
  width: 400px;
  height: auto;
  margin: 0;
}
.case-study-container {
  margin-top: 4rem;
  margin-bottom: 0;
  display: inline-block;
  cursor: pointer;
}

.spectral {
  font-family: 'Spectral', serif;
}
